{% extends 'base.html' %}
{% block title %}Let's play MADLIBS!!!{% endblock %}

   {% block content %}
   
   <form action="/madlib">
    Enter a name: <input type="text" name="name">
    <br>
    Choose a color:
    <select name="color">
        <option name="color" value="red">Red</option>
        <option name="color" value="orange">Orange</option>
        <option name="color" value="blue">Blue</option>
        <option name="color" value="purple">Purple</option>
        <option name="color" value="puke">Puke-colored</option>
        <option name="color" value="yellow">yellow</option>
        <option name="color" value="skin">Skin-colored</option>
    </select>
    <br>
    Select an noun:
        <input type="radio" name="noun" value="cup">Cup
        <input type="radio" name="noun" value="pen">Pen
        <input type="radio" name="noun" value="mouse">Mouse
        <input type="radio" name="noun" value="cellphone">Cell phone
        <input type="radio" name="noun" value="notebook">Notebook
    <br>
    Enter an adjective: <input type="text" name="adj">
    <br>
    <input type="submit" value="PLAY!">
   </form>

   {% endblock %}
